{
  "extends": ["airbnb", "prettier"],
  "env":{
    "jest/globals": true,
  },
  "globals": {
    "chrome": true,
    "window": true,
    "document": true,
    "React": true,
    "config": true,
    "describe",
    "context",
    "before",
    "beforeEach",
    "after",
    "afterEach",
    "it",
    "expect",
    "test",
  },
  "parser": "babel-eslint",
  "plugins": ["mocha", "prettier", "jest"],
  "rules": {
    "prettier/prettier": "error",
    "no-alert": 0,
    "new-cap": 0,
    "max-len": 0,
    "semi": ["error", "never"],
    "no-underscore-dangle": 0,
    "react/jsx-curly-spacing": 0,
    "mocha/no-exclusive-tests": 2,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "camelcase": 0,
    "no-param-reassign": ["error", { "props": false } ],
  }
}
